
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>

 
    

    <script src="~/bower_components/angular/angular.min.js"></script>
    <script src="~/bower_components/angular-route/angular-route.js"></script>
   
   <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    

    <script src="~/Client/Controllers/mainController.js"></script>
    <script src="~/Client/Controllers/orderController.js"></script>

    <script src="~/Client/Controllers/listOrdersController.js"></script>

    <style>
        .panel-default > .panel-heading {
            background: #0B3954;
        }

        .panel-default > .panel-heading {
            color: #D84727;
        }

        .navbar {
           color:black;
           background:white;
        }

        body {
           background: #4E4D5C;
        }


    </style>







    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-app="main"  >

    <!--navigation bar-->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!">Ace of Spades Pizza</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#!/PlaceOrder">Place order</a></li>
                <li><a href="#!Orders">Orders</a></li>
            </ul>
        </div>
    </nav>

   

   <ng-view>
   </ng-view>


    

   
 
</body>
</html>