
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    
    <script src="~/bower_components/angular/angular.min.js"></script>
    <script src="~/bower_components/angular-route/angular-route.js"></script>
   
   <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    

    <script src="~/Client/Controllers/mainController.js"></script>
    <script src="~/Client/Controllers/orderController.js"></script>
   

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-app="main"  >

    <!--navigation bar-->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/!">Ace Of Spades Pizza</a>
        </div>
    </div>

   <ng-view>
   </ng-view>


    

   
 
</body>
</html>