<style>
    form label {
        font-size: smaller;
    }

    .validation-error {
        color:#FF0000;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .spinner {
          position:absolute;
          top:30%;
         
         
    }

</style>



<div class="container" >


  

    <!--left side -->
    <div class="col-sm-6" >

       


        <!--order review panel-->
        <div class="row">
            <div class="col-xs-12 " >
                <div class="panel panel-default">
                    <div class="panel-heading">Order Review</div>
                    <div class="panel-body">
                        <p>Please complete the fields below  and click "Place  Order".</p>
                    </div>
                </div>
            </div>
        </div>

        <!--information panel-->
        <div class="row">
            <div class="col-xs-12 " >
                <div class="panel panel-default">
                    <div class="panel-heading">Your Information</div>
                    <div class="panel-body">

                        <!--validation div-->
                        <div class="validation-error">
                           <ul>
                               <li ng-repeat="item in validationList"> {{item}}</li>
                           </ul>
                        </div>

                        <!--information for-->
                        <form class="form-horizontal" action="/action_page.php">
                          
                            <div class="form-group">
                                <label class="control-label col-sm-4 " for="firstName">First Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="firstName" placeholder="Enter first name"  name="firstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pwd">Last Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="lastName" placeholder="Enter last name" name="lastName">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pwd">Phone:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="phone" placeholder="555-555-5555" maxlength="12" name="phone" ng-model="phone">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!--end of left side-->
    </div>

    <!--right side-->
    <div class="col-sm-6" >

        <div class="row">
            <div class="col-xs-12 " >
                <div class="panel panel-default">
                    <div class="panel-heading">Order Summary</div>
                    <div class="panel-body">

                        <!--table for order-->
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped" ng-hide="AreOrders()">
                                    <thead>
                                        <tr>
                                            <th>ITEM         </th>
                                            <th>QTY</th>
                                            <th>PRICE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Large (14")The One Pizza</td>
                                            <td>1</td>
                                            <td>${{quantity* price}}.00</td>
                                        </tr>
   
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!--validation div-->
                        <div class="validation-error">
                            <ul>
                                <li ng-repeat="item in validationList2"> {{item}} </li>
                            </ul>
                        </div>
                        <!--qty picker-->
                        <div class="row">
                            <div class="col-ms-6">
                                <form class="form-horizontal" action="/action_page.php">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-sm-offset-1" style="padding-right:0;" for="qty">Qty:</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control"  placeholder="1" id="qty" name="qty" ng-model="quantity" ng-change="quantityChanged()">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-sm-offset-1" style="padding-right:0;" for="date" >Date:</label>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="input-group col-sm-9 col-sm-offset-1">
                                                    <input type="text" class="form-control" placeholder="mm" id="month" maxlength="2"/>
                                                    <span class="input-group-addon">/</span>
                                                    <input type="text" class="form-control" placeholder="dd" id="day" maxlength="2"/>
                                                </div>
                                            </div>
                                            
                                        </div>    
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-sm-offset-1" style="padding-right:0;" for="date">Time:</label>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="input-group col-sm-9 col-sm-offset-1">
                                                    <input type="text" class="form-control" placeholder="hh" id="hours" maxlength="2" />
                                                    <span class="input-group-addon">:</span>
                                                    <input type="text" class="form-control" placeholder="mm" id="minutes" maxlength="2" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    

                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>



        <!--right side end-->
    </div>
    <!--submit button-->
    <div class="row">
        <div class="col-sm-7 col-sm-offset-5">
            <button type="button" class="btn btn-primary" ng-click="sendForm()">Place Order</button>
        </div>
    </div>


    <!--spinner loading-->
    <div class="col-sm-3 col-sm-offset-4 spinner" ng-hide="spinnerVisibility" >
        <img src="../../Content/img/loading_spinner.gif" />
    </div>

</div>