<style>
    img {
        max-width: 25%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .spinner {
    
      
    }
</style>



<div class="container">
  
    
 
    <!--order review panel-->
    <div class="row">
        <div class="col-xs-12 "  >
            <div class="panel panel-default">
                <div class="panel-heading">
                     Pending Orders    
                    <button ng-click="refresh()"> Refresh</button>
                </div>
                <div class="panel-body">
                   
                    <!--spinner loading-->
                    <div class="col-sm-4 col-lg-offset-4 spinner" ng-hide="spinnerVisibility">
                        <img src="../../Content/img/loading_spinner.gif" />
                    </div>

                        <!--table for order-->
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped" ng-hide="AreOrders()">
                                    <thead>
                                        <tr>
                                            <th>transaction#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Phone</th>
                                            <th>Delivery Date</th>
                                            <th>Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in data">
                                            <td>{{item.ID}}</td>
                                            <td>{{item.FirstName}}</td>
                                            <td>{{item.LastName}}</td>
                                            <td>{{item.Phone}}</td>
                                            <td>{{item.Date}}</td>
                                            <td>{{item.Qty}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                
                </div>
            </div>
        </div>
    </div>
     
    </div>

